.favoriteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  line-height: 0;
  color: #ffb3b3;
  cursor: pointer;
  background-color: black;
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-200);
  border-radius: 50%;
  transition: 0.2s;

  &:hover,
  &:focus-visible {
    color: #ff9e9e;
  }

  &:active {
    color: #ff8989;
  }

  &:focus-visible {
    outline: 2px solid var(--color-neutral-400);
    outline-offset: 2px;
  }

  &.isFavorite {
    color: #ff9e9e;
  }

  &.isFavorite:active {
    color: #ff8989;
  }
}
