---
import { Container } from './container';
---

<div class="hero">
  <Container>
    <div class="wrapper">
      <div class="pattern"></div>
      <div class="logo-wrapper">
        <img
          alt="Faded Moodist Logo"
          aria-hidden="true"
          class="logo"
          height={48}
          src="/logo.svg"
          width={48}
        />
      </div>
    </div>
  </Container>
</div>

<style>
  .hero {
    text-align: center;

    .wrapper {
      position: relative;
      padding: 10px 0;

      & .pattern {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(
          var(--color-neutral-500) 5%,
          transparent 5%
        );
        background-position: top center;
        background-size: 21px 21px;
        opacity: 0.6;
        mask-image: linear-gradient(#fff, transparent, transparent);

        &::before {
          position: absolute;
          top: 0;
          left: 50%;
          width: 300px;
          height: 100px;
          content: '';
          background: var(--color-neutral-200);
          filter: blur(50px);
          border-radius: 100%;
          opacity: 0.6;
          transform: translate(-50%, -50%);
        }
      }
    }

    & .logo-wrapper {
      mask-image: linear-gradient(#000, rgb(0 0 0 / 40%), rgb(0 0 0 / 5%));

      & .logo {
        display: block;
        width: 40px;
        margin: 0 auto;
        opacity: 0.8;
        animation-name: logo;
        animation-duration: 60s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
  }

  @keyframes logo {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>
